html {
    background: url(BG3.png);
    font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
}

body {
    margin: 0px; 
    star:expression(document.oncontextmenu=function(){return false;});
}
.newre {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-weight: bold;
}

#head {
    
    text-align: center;
    font-size: 30px;
}

#tshow, #tshow_a {
  cursor: pointer;
}
#h, #trig, #trig_a {
    display: none;
}
#todoapp .header {
    /*position: absolute;*/
    margin-top: 30px;
    /*top: -120px;*/
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.6);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.header {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
#todoapp .footer {
    /*position: absolute;*/
    /*top: -120px;*/
    width: 100%;
    font-size: 15px;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255,1);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.8);
}

.tests {
    text-align: left;
    padding: 0px 30px; 
    margin-top: 5px;
    margin-bottom: 5px;
    /*background-color: black;*/
}
.container{
    width: 1100px;
    /*height: 2000px;*/
    margin: auto; 

}
.left{         
	border: 0px; 
    margin: auto;
    text-align: center;
    width: 400px;
    height: 440px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    /*background-image: url(http://emberjs.com.s3.amazonaws.com/getting-started/bg.png);*/
    /*background-color: #B8E1DD;*/
    background-color: rgba(214, 147, 255, 0.82);
    border-color: transparent;
    border-style: solid;
    /*border-right-width: thin;*/
    border-right-color: lightgray;
    box-shadow:6px 5px 11px rgba(20%,20%,40%,0.5);
}
.ch1{
	margin-top:1px;
	overflow-y:scroll;
	overflow-x:hidden;
	width:auto;
	height: 385px;
}
.space {
    float: left;
    margin-left: 20px;
    width: 1012px;
    height: 20px;
    /*background-color: #B8E1DD;*/
    /*background-color: rgba(0, 0, 0, 0.2);*/
}
.preview {
	margin-top:2px;
 	height: 240px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.ch3{
	
	border:0px;
	margin:auto;
    width: 800px;
	height:300px;
/*margin-left: 20px;*/
    margin-bottom: 30px;
    text-align: center;
    /*background:linear-gradient(top,#B8E1DD,#FFFFFF) no-repeat;
    background:-moz-linear-gradient(top,#B8E1DD,#FFFFFF)no-repeat;
    background:-webkit-linear-gradient(top,#B8E1DD,#FFFFFF)no-repeat;*/
    background-color: rgba(23, 31, 45, 0.9);
	box-shadow:6px 5px 11px rgba(20%,20%,40%,0.5);
}

.editor{                /* 中間編輯器 */
	margin-top:1px;
	overflow-y: scroll;
    overflow-x: hidden;
	height:385px;
    /*background-color: #B8E1DD;*/
}
.ch2{
	border:0px;
    margin: auto;
	margin-left:40px;
	margin-bottom:30px;
    text-align: center;
    width: 600px;
    height: 440px;
    background-color: rgba(221, 255, 166, 0.9);
    border-color: transparent;
    border-style: solid;
    box-shadow:6px 5px 11px rgba(20%,20%,40%,0.5);
	float: left;
	margin-top:10px;
}
.force-overflow
{
    min-height: 300;
}
.force-overflow-preview
{
    min-height: 200px;
}
#scroll_style::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    /*opacity: 0.6;*/
}

#scroll_style::-webkit-scrollbar
{
    border-radius: 10px;
    width: 12px;
    background-color: #F5F5F5;
}

#scroll_style::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*background-color: #004182;*/
    background-color: rgba(157, 157, 157, 0.1);
}
.dragedit {
  background: #449187;
  background-image: -webkit-linear-gradient(top, #1D556F, #288FB4);
  background-image: -moz-linear-gradient(top, #1D556F, #288FB4);
  background-image: -ms-linear-gradient(top, #1D556F, #288FB4);
  background-image: -o-linear-gradient(top, #1D556F, #288FB4);
  background-image: linear-gradient(to bottom, #1D556F, #288FB4);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  padding: 4px 8px 4px 8px;
  text-decoration: none;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
}
.dragedit:hover {
  background: #228291;
  /*border-style: inset;*/
  background-image: -webkit-linear-gradient(top, #352771, #5E89EF);
  background-image: -moz-linear-gradient(top, #352771, #5E89EF);
  background-image: -ms-linear-gradient(top, #352771, #5E89EF);
  background-image: -o-linear-gradient(top, #352771, #5E89EF);
  background-image: linear-gradient(to bottom, #352771, #5E89EF);
  text-decoration: none;
  border-width: 1px;
  font-size: 11px;
}


.rules {                /* 中間編輯區內條目 */
    margin: auto;
    padding-bottom: 30px;
    padding-top: 10px;
    margin-bottom: 35px;
    margin-top: 10px;
    width: 450px;
    font-size: 16px;
    color: rgb(0,85,0);
    font-weight: bold;
    font-style: italic;
    background-color: rgba(0, 255, 55, 0.32);
	border:0px;
}
.newr{
	height:120px;
	border-radius: px;
    border: 5px;
    border-style: double;
    
}
.menu {
    margin-left: 8%;
    /*text-align: left;*/
    padding-top: 30px;
    width: 250px;
    height: 20px;
    text-shadow: 1px 2px black;
    font-size: 16px;
    border-radius: 5px;
    border: solid;
    border-style: outset;
    border-color: #004182;
    border-width: 2px;
    background-color: rgba(228, 74, 152, 0.85);
    color: #E5E5E5;
    box-shadow:1px 1px 3px rgba(20%,20%,40%,0.5);
}

.blocks {          
    text-align: center;
    margin-left: 8%;
    background-color: rgb(123, 36, 149);
    color: #E5E5E5;
    text-shadow: 0.5px 0.5px black;
    width: 250px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px;
    border: solid;
    border-style: outset;
    border-color: #118DF0;
    border-width: 2px;
    cursor: pointer;
    font-weight: bold;
    position: relative;
    z-index: 1000;
    box-shadow:1px 1px 3px rgba(20%,20%,40%,0.5);
}
.blocks:hover {
    background-color: #004182;
    border-radius: 5px;
    font-weight: bold;
    border: solid;
    border-style: outset;
    border-color: #004182;
    border-width: 2px;
    opacity: 1;
}
.blocks.ui-draggable-dragging {
    background-color: transparent;
    opacity: 0.6;
    border: none;
}
.menu-rule{
    font-weight: bold;
    height: 40px;
    text-shadow: 0px 0px 3px black;
    /*background-color: #004182;*/
    background-color: rgba(51, 51, 51, 0.46);
    border-color: transparent;
    border-style: solid;
    color: #004182;
    color: rgb(249, 249, 249);
    font-size: 25px;
    padding-top: 10px;
    box-shadow:3px 3px 8px rgba(20%,20%,40%,0.5);
}
.menu-left {
    font-weight: bold;
    height: 40px;
    text-shadow: 0px 0px 3px black;
    /* background-color: #004182; */
    background-color: rgba(51, 51, 51, 0.46);
    border-color: transparent;
    border-style: solid;
    color: #004182;
    color: rgb(249, 249, 249);
    font-size: 25px;
    padding-top: 10px;
    box-shadow: 3px 3px 8px rgba(20%,20%,40%,0.5);
}
.menu-preview {
    font-weight: bold;
    height: 40px;
    /*background-color: #004182;*/
    background-color: rgba(51, 51, 51, 0.46);
    border-color: transparent;
    border-style: solid;
    color: #004182;
    color: rgb(249,249,249);
    font-size: 25px;
    text-shadow: 0px 0px 3px black;
    padding-top: 10px;
    box-shadow:3px 3px 8px rgba(20%,20%,40%,0.5);
}

button{
    font-weight: bold;
    /*background-color: #387ADF;*/
   width: 100px;
    height: 40px;
    float: right;
    border: transparent;
    text-align: center;
    font-size: 20px;
    margin-right: 10px;
    margin-left: 10px;
	box-shadow: 0 3px 7px rgba(0,0,0,0.7);
	border-radius: 5px;
}
#new {
    background-color: rgba(213, 76, 113, 1);
	color: rgb(255,255,255);
 
}
#finish{
    background-color: rgba(211, 136, 74, 1);
 	color:	rgb(255,255,255);
}

button:hover { 
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5); 
}
button:focus {
  outline: 0;
}

.newre {
    text-align: left;
    font-size: 24px;
    color: rgba(255,255,255,1);
    margin-left: 50px;
    width: 800px;
    font-style: italic;
}
.picrightraise{
    background-image:url(http://i.imgur.com/gAyXRRg.png);
    background-repeat:no-repeat;
    background-size:25px 25px;
    background-position: 190px -1px;
}
.picleftraise{
    background-image:url(http://i.imgur.com/kVoUBQ4.png);
    background-repeat:no-repeat;
    background-size:25px 25px;
    background-position: 190px -1px;
}

.picleftdown{
    background-image:url(http://i.imgur.com/AxJpbpp.png);
    background-repeat:no-repeat;
    background-size:25px 25px;
    background-position: 190px -1px;
}
.picrightdown{
  background-image: url(http://i.imgur.com/AxJpbpp.png);
  background-repeat:no-repeat;
  background-size:25px 25px;
  background-position: 190px -1px;
}
.picnosedown{
    background-image:url(http://www.clker.com/cliparts/c/d/e/e/119715842258917068molumen_elephant_silhouet.svg.hi.png);
    background-repeat:no-repeat;
    background-size:27px 27px;
    background-position: 190px 1px;
}
.picnoseraise{
    background-image:url(http://i.imgur.com/xYHK4mP.png);
    background-repeat:no-repeat;
    background-size:33px 33px;
    background-position: 190px -5px;
}
.picbodyraise{
    background-image:url(http://i.imgur.com/D2GnKWq.png);
    background-repeat:no-repeat;
    background-size:33px 33px;
    background-position: 185px -1px;
}
.picbodydown{
    background-image:url(http://i.imgur.com/tqqpMTM.png);
    background-repeat:no-repeat;
    background-size:27px 27px;
    background-position: 190px 1px;
}
.piclightoff{
    background-image:url(http://www.davidetrezzi.eu/images/passions/creative.png);
    background-repeat:no-repeat;
    background-size:27px 27px;
    background-position: 190px 1px;
}
.piclighton{
    background-image:url(http://www.sevencards.com.br/website2/images/icon_03.png);
    background-repeat:no-repeat;
    background-size:30px 30px;
    background-position: 188px -3px;
}
.pictrigger{
    background-image:url(http://icons.iconarchive.com/icons/icons8/windows-8/512/Gaming-Trigger-Mode-icon.png);
    background-repeat:no-repeat;
    background-size: 45px 45px;
    background-position: 100px -1px;
}
.picaction{
    background-image:url(https://cdn3.iconfinder.com/data/icons/glypho-generic-icons/64/action-upload-alt-512.png);
    background-repeat:no-repeat;
    background-size: 50px 45px;
    background-position: 100px -2px;
}
.picother{
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/e/ee/Chain_link_icon.png);
    background-repeat:no-repeat;
    background-size: 45px 25px;
    background-position: 105px 2px;
}
.picoperator{
    background-image:url(https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/ADB_Icon.svg/320px-ADB_Icon.svg.png);
    background-repeat:no-repeat;
    background-size: 50px 40px;
    background-position: 105px -1px;
}
