html, body {
    background:linear-gradient(top,#B8E1DD,#FFFFFF);
    background:-moz-linear-gradient(top,#B8E1DD,#FFFFFF);
    background:-webkit-linear-gradient(top,#B8E1DD,#FFFFFF);
    font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
    /*background-color: #B8E1DD;*/
}
body {
    margin: 0px; 
}
#head {
    text-align: center;
    font-size: 30px;
}
#intro {

}
#h {
    display: none;
}
.tests {
    text-align: left;
    padding: 0px 30px; 
}
.container{
    width: 1050px;
    height: 1000px;
    margin: auto;       /*margin是調整與視窗邊界的距離(置中)*/
}
.left{                  /* 左邊選擇區 */
    margin: auto;
    text-align: center;
    width:400px;
    height: 630px;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    background-color: #B8E1DD;
    border-color: transparent;
    border-style: solid;
    /*border-right-width: thin;*/
    border-right-color: lightgray;
}
.space {
    float: left;
    margin-left: 10px;
    width: 1012px;
    height: 20px;
    background-color: #B8E1DD;
}
.preview {
    width: 1012px;
    text-align: center;
    background:linear-gradient(top,#B8E1DD,#FFFFFF);
    background:-moz-linear-gradient(top,#B8E1DD,#FFFFFF);
    background:-webkit-linear-gradient(top,#B8E1DD,#FFFFFF);
}
/*.preview {     
    text-align: center;
    width: 1006px;
    height: 360px;
    overflow-y: scroll;
    background-color: #B8E1DD;
    border-color: transparent;
    border-style: solid;
}*/
.editor{                /* 中間編輯器 */
    margin: auto;
    text-align: center;
    width: 600px;
    height: 630px;
    overflow-y: scroll;
    overflow-x: hidden;
    float: left;
    margin-top: 10px;
    background-color: #B8E1DD;
    border-color: transparent;
    border-style: solid;
}
.force-overflow
{
    min-height: 500px;
}
.force-overflow-preview
{
    min-height: 200px;
}
#scroll_style::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /*border-radius: 10px;*/
    background-color: #F5F5F5;
}

#scroll_style::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#scroll_style::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #3A9188;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 75px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left:0; top: -3px;
  width: 65px; height: 30px;
  background: #DDDDDD;
  border-radius: 15px;
  transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 20px; height: 20px;
  transition: all .2s;
  border-radius: 50%;
  background: #7F8C9A;
  top: 2px; left: 5px;
}

/* on checked */
[type="checkbox"]:checked + label:before {
  background:#34495E; 
}
[type="checkbox"]:checked + label:after {
  background: #39D2B4;
  top: 2px; left: 40px;
}

[type="checkbox"]:checked + label .ui,
[type="checkbox"]:not(:checked) + label .ui:before,
[type="checkbox"]:checked + label .ui:after {
  position: absolute;
  left: 6px;
  width: 65px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: bold;
  line-height: 22px;
  transition: all .2s;
}
[type="checkbox"]:not(:checked) + label .ui:before {
  content: "no";
  left: 32px
}
[type="checkbox"]:checked + label .ui:after {
  content: "yes";
  color: #39D2B4;
}
[type="checkbox"]:focus + label:before {
  border: 1px dashed #777;
  box-sizing: border-box;
  margin-top: -1px;
}


.rules {                /* 中間編輯區內條目 */
    margin: auto;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-bottom: 14px;
    width: 450px;
    font-size: 16px;
    color: #E5E5E5;
    /*height: 105px;*/
    background-color: #3A9188;
    border-radius: 5px;
    border: solid;
    border-style: inset;
    border-width: 3px;
    position: relative;
}
.menu {
    margin-left: 8%;
    text-align: center;
    width: 250px;
    height: 28px;
    font-size: 20px;
    border-radius: 5px;
    border: solid;
    border-style: outset;
    border-color: #044A42;
    border-width: 2px;
    background-color: #044F40;
    color: #E5E5E5;
}

.blocks {               /* 方塊 */
    text-align: center;
    margin-left: 8%;
    background-color: #3A9188;
    color: #E5E5E5;
    width: 250px;
    height: 24px;
    font-size: 16px;
    border-radius: 5px;
    border: solid;
    border-style: outset;
    border-color: #3A9188;
    border-width: 2px;
    cursor: pointer;
    position: relative;
    z-index: 1000;
    /*-webkit-filter: contrast(60%);*/
}
.blocks:hover {
    background-color: #044A42;
    border-radius: 5px;
    font-weight: bold;
}
.blocks.ui-draggable-dragging {
    background-color: transparent;
    opacity: 0.6;
    border: none;
}
.menu-rule{
    font-weight: bold;
    height: 50px;
    background-color: #062925;
    border-color: transparent;
    border-style: solid;
    color: lightgray;
    font-size: 30px;
    padding-top: 10px;
}
.menu-left {
    font-weight: bold;
    height: 50px;
    background-color: #062925;
    border-color: transparent;
    border-style: solid;
    color: lightgray;
    font-size: 30px;
    padding-top: 10px;
}
.menu-preview {
    font-weight: bold;
    height: 50px;
    background-color: #062925;
    border-color: transparent;
    border-style: solid;
    color: lightgray;
    font-size: 30px;
    padding-top: 10px;
}

button{
    background-color: lightblue;
    border-radius: 50px;
    height: 40px;
    margin-left: 20px;
}
/*#new {
    margin-right: 20px;   
}*/

.newre {
    text-align: left;
    /*background-color: #2D84A7;*/
    /*height: 110px;*/
    /*margin-top: -14px;
    margin-bottom: 10px;
    padding-bottom: 1px;*/
    margin-top: -14px;
    margin-bottom: 40px;
    font-size: 24px;
    color: #062925;
    margin-left: 50px;
    width: 800px;
    font-style: italic;
}
